/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #353430;
  --accent-color-half-transparent: rgba(53, 52, 48, 0.4);
  --accent-background-color: #FF8DCB;
  --main-title-color: #FFC2E6;
  --articles-text-color: #353430;
}

.theme-light .page {
  background-image: url(../images/cover-image-light.png);
  background-color: #fff1f7;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
    --accent-color-half-transparent: rgba(53, 52, 48, 0.4);
    --accent-background-color: #FF8DCB;
    --main-title-color: #FFC2E6;
    --articles-text-color: #353430;
  }

  /* Остальные стили, только при необходимости */
  .page {
    background-image: url(../images/cover-image-light.png);
    background-color: #fff1f7;
  }

  .header__rec {
    display: none;
  }
} 