/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #353430;
}

.theme-light .page {
  background-image: url(../images/cover-image-light.png);
  background-color: #fff1f7;
}

.theme-light .header__rec {
  display: none;
}

.theme-light .main-title {
  color: #FFC2E6;
}

.theme-light .header__title {
  text-shadow: 4px 4px 0 #FF8DCB;
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgba(53, 52, 48, 0.4);
}

.theme-light .title-decor {
  color: var(--accent-color);
  background-color: #FF8DCB;
}

.theme-light .article__text {
  color: var(--accent-color);
}

.theme-light .article__text-link {
  text-shadow: 1.5px 2px 0 #FF8DCB;
}

.theme-light .article__text-link:hover {
  border-bottom: 1px solid var(--accent-color);
}

.theme-light .article__text-link:focus-visible {
  outline: 1px solid var(--accent-color);
}

.theme-light .footer__title {
  text-shadow: 2px 2px 0 #ff0070;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #353430;
  }

  /* Остальные стили, только при необходимости */
  .page {
    background-image: url(../images/cover-image-light.png);
    background-color: #fff1f7;
  }

  .header__rec {
    display: none;
  }

  .main-title {
    color: #FFC2E6;
  }

  .header__title {
    text-shadow: 4px 4px 0 #FF8DCB;
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(53, 52, 48, 0.4);
  }

  .title-decor {
    color: var(--accent-color);
    background-color: #FF8DCB;
  }

  .article__text {
    color: var(--accent-color);
  }

  .article__text-link {
    text-shadow: 1.5px 2px 0 #FF8DCB;
  }

  .article__text-link:hover {
    border-bottom: 1px solid var(--accent-color);
  }

  .article__text-link:focus-visible {
    outline: 1px solid var(--accent-color);
  }

  .footer__title {
    text-shadow: 2px 2px 0 #ff0070;
  }
} 