/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000028;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-end: var(--main-section-margin);
}

.header__rec {
  position: absolute;
  color: var(--accent-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  text-transform: uppercase;
  inset-inline-end: calc(var(--main-gap) + 28px);
  inset-block-start: calc(var(--main-gap) + 2px);
}

.header__rec::after {
  content: '';
  position: absolute;
  inline-size: 10px;
  block-size: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inset-inline-end: 0;
  inset-block-start: 50%;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  margin-inline-end: var(--main-gap);
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: var(--main-text-size);
  color: var(--accent-color);
  text-transform: lowercase;
  background-color: transparent;
  padding-inline: 13px;
  padding-block: 1.5px;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.main-title {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  color: #DB00FF;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-inline-start: var(--main-gap);
  margin-inline-end: var(--main-gap);
}

.header__description {
  justify-self: end;
  align-self: center;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  margin-inline-start: var(--main-gap);
  margin-inline-end: var(--main-gap);
  margin-block-end: var(--main-gap);
}

.title-decor {
  font-weight: 700;
  color: #000028;
  background-color: var(--accent-color);
}

.content {
  margin-inline-start: var(--main-gap);
  margin-inline-end: var(--main-gap);
  margin-block-end: var(--main-section-margin);
  font-family: var(--main-font-family);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.content-container {
  display: grid;
  gap: 20px;
}

.content-container:not(:last-child) {
  margin-block-end: var(--section__articles-list-margin);
}

.content-container__title {
  color: var(--accent-color);
}

.content-list__item:not(:last-of-type) {
  margin-block-end: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.article__nested-title {
  font-weight: 400;
}

.article__text {
  font-weight: 400;
  color: #F1B2CE;
}

.advices-text__title {
  margin-block-end: 20px;
}

.article__text-link {
  text-decoration: none;
  text-shadow: 1.5px 2px 0 var(--accent-color);
}

.article__text-link:hover {
  border-bottom: 1px solid #F1B2CE;
}

.article__text-link:focus-visible {
  outline: 1px solid #F1B2CE;
}

.advices-images__title {
  margin-block-start: calc(var(--section__articles-list-margin) - 20px);
  margin-block-end: var(--main-gap);
}

.content-images-container {
  display: grid;
  gap: var(--main-gap);
}

.content__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  justify-content: center;
  align-content: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
  margin-inline-start: 14px;
  margin-inline-end: 13px;
}

@media (width >= 768px) {
  :root {
    --main-gap: 20px;
    --main-section-margin: 60px;
    --section__articles-list-margin: 80px;
  }

  .header {
    min-block-size: 1024px;
  }

  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: 0;
  }

  .header__description {
    inline-size: 47%;
  }

  .content-container {
    grid-template-columns: minmax(236px, 1fr) 1fr 1fr;
  }

  .reasons-list {
    grid-column: span 2;
  }

  .irritants-list {
    grid-column: 1/-1;
  }

  .advices-text {
    grid-column: 2/-1;
  }

  .advices-images {
    grid-column: 1/-1;
  }

  .content-images-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .sunset {
    grid-column: 1/3;
  }

  .ice-cream {
    grid-column: 3/-1;
    grid-row: span 2;
  } 

  .tape {
    grid-column: 1/2;
    grid-row: span 2;
  }

  .books {
    grid-column: 2/3;
  }

  .street {
    grid-column: 2/-1;
  }

  .footer {
    min-block-size: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__description {
    inline-size: 48%;
  }
  
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-inline-start: var(--main-gap);
    margin-block-start: var(--main-gap);
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .irritants-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    min-block-size: 768px;
  }
}