/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --main-text-size: 18px;
    --main-font-family: 'IBM Plex mono', monospace;
    --accent-color: #ff0070;
    --main-gap: 10px;
    --main-section-margin: 40px;
    --section__articles-list-margin: 50px;
    --main-line-height: 1.3;
}